<nav class="site-nav">
  <div class="wrapper">
    {% if include.title %}
    <h2><a class="nav-title"href="/">{{include.title}}</a></h2>
    {% endif %}
    <ul class="nav-list"> 
    {% unless include.title %} 
      <li><a class="page-link" href="/">About</a></li>
    {% endunless %}
      <li><a class="page-link" href="/blog">Blog</a></li>
      <!-- <li><a class="page-link" href="/projects">Projects</a></li> -->
      <li><a class="page-link" href="mailto:{{ site.email }}" title="Say howdy!">Contact</a></li>
    </ul>
  </div>
</nav>