/** 
 * Navs
 */
.site-nav {
    line-height: 56px;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
    &.top-nav {
        border-bottom: 1px solid $grey-color-light;
        margin-bottom: 0;
        padding-top: 15px;
    }
    &.bottom-nav {
        border-top: 1px solid $grey-color-light;
        .nav-list {
            float: none;
            margin-left: 0;
        }
    }
    &.blog-nav {
        .nav-list {
            margin-left: 0;
        }
    }
    h2 {
      float: left;
      padding-right: 25px;
      @include media-query($on-palm) {
        display: block;
        float: none;
      }
    }
    .nav-title {
        color: $dark-color;
    }
}

.nav-list {
    &.right-list {
        float: right;
    }
    li {
        display: inline-block;
        &:not(:last-child) {
            padding-right: $spacing-unit;
        }
    }
    @include media-query($on-palm) {
        display: block;
        float: none;
        margin-left: 0;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Blog 
 */
.post, .blog-index {
    margin: 0 auto;
    max-width: 520px;
    position: relative;
}
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    line-height: 28px;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
