--- 
layout: blog
title: Welcome to the blog
---
<div class="blog-index">
{% assign post = site.posts.first %}
{% assign title = post.title %}
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
    {% if post.excerpt.size < 100 %}
      <h3 class="post-subtitle">{{ post.excerpt }}</h3>
    {% endif %}
    <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time> • {% if post.author %}guest post by {% endif %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
    {% if post.author %} {{ post.author }}
    {% else %} {{ site.author }}
    {% endif %}
    </span></span></p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ post.content }}
  </div>

  <footer class="page-navigation">
    {% if post.previous.url %}
      <div class="navigation-link prev">
        <a href="{{post.previous.url}}">&laquo; {{post.previous.title}}</a>
      </div>
    {% endif %}
    {% if post.next.url %}
      <div class="navigation-link next">
        <a href="{{post.next.url}}">{{post.next.title}} &raquo;</a>
      </div>
    {% endif %}
  </footer>
</div>