--- 
layout: blog
---
<div class="blog-index">
{% assign post = site.posts.first %}
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
    <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time> • {% if post.author %}guest post by {% endif %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
    {% if post.author %} {{ post.author }}
    {% else %} {{ site.author }}
    {% endif %}
    </span></span></p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ post.content }}
  </div>

  <footer class="PageNavigation">
    {% if post.previous.url %}
      <a class="prev" href="{{post.previous.url}}">&laquo; {{post.previous.title}}</a>
    {% endif %}
    {% if post.next.url %}
      <a class="next" href="{{post.next.url}}">{{post.next.title}} &raquo;</a>
    {% endif %}
  </footer>
</div>